<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/image/login-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

    <div class="bloco-login">
        
        <div class="bloco-login1">
            <h1 class="texto-login">LOGIN</h1><br>

            <div class="user-pass" id="bloco1">
                <input type="text" name="username" class="username" id="username" placeholder="  Username">
                <br><br>    
                <input type="password" name="password" class="password" id="password" placeholder="  Password">
            </div><br><br>

            <div class="" id="bloco2">
                <div class="bloco-lembre">
                        <input type="checkbox" name="ativo" id="ativo">
                        <label for="lembre-me">Lembre-me</label>
                </div>
                <br><br>
                <button type="submit">LOGIN</button>
            </div><br>
            
        </div>
        
        
        

    </div>

    
</body>
</html>